.header {
    background-color: #16a085;
    height: 500px;
    display: table;
    width: 100%;
}

.container-fluid {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.container-fluid h1 {
    text-align: center;
    color: #fff;
    font-size: 64px;
    padding: 20px;
    display: inline-block;
}

.border {
    border: 5px solid #fff;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .container-fluid h1 {
        padding: 10px;
    }
}